<div id="<%= dom_id medicine %>">

  <p>
    <strong>Name:</strong>
    <%= medicine.name %>
  </p>

  <p>
    <strong>Use:</strong>
    <%= medicine.use %>
  </p>

  <p>
    <strong>Sideeffects:</strong>
    <%= medicine.sideEffects %>
  </p>

  <p>
    <strong>Dosage:</strong>
    <%= medicine.dosage %>
  </p>

</div>
