<p style="color: green"><%= notice %></p>

<%= render @medicine %>

<div>
  <div class="btn-group" role="group" aria-label="Basic example">

  <%= link_to "Edit this medicine", edit_medicine_path(@medicine), class:"btn btn-primary" %>
  <%= link_to "Back to medicines", medicines_path, class:"btn btn-primary" %>

  <%if user_signed_in?%>
  <%= button_to "Destroy this medicine", @medicine, method: :delete, class:"btn btn-danger" %>
  <%end%>
  </div>
</div>
